# Results directory
experiments/results/
experiments/results/*

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.env/

# IDE settings
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
.env
.env.local 